@import 'mixin';
header{
    width: 100%;
    height: 70px;
    @include center;
    .logo{
        width: 10%;
        @include center;
    }
    .nav-bar{
        width: 60%;
        nav{
            ul{
                margin-left: 20px;
                @include evenly;
                li{
                    a{
                        color: black;
                        &:hover{
                            color: rgb(143, 59, 192);
                        }
                    }
                }
            }
        }
    }
}

.page1{
    width: 100%;
    height: 800px;
    @include center;
    .first{
        width: 40%;
        @include center;
        flex-direction: column;
        h1{
            position: absolute;
            width: 277.76px;
            height: 64px;
            left: 135px;
            top: 438px;

            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 64px;
            line-height: 64px;
            color: #BDBDBD;
        }
        h2{
            position: absolute;
            width: 186px;
            height: 64px;
            left: 135px;
            top: 502px;
            
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 60px;
            color: #333333;
        }
    }
    .second{
        width: 60%;
        img{
            width: 630px;
            height: 700px;
        }
    }
}

.page2{
    width: 100%;
    height: 490px;
    @include center;
    .all{
        width: 1170px;
        height: 480px;
        @include center;
        background-color: #dcdcdc;
        .img{
            @include center;
            .first{
                margin: 25px 20px;
                @include center;
                flex-direction: column;
            }
        }
        .context1{
            width: 400px;
            height: 200px;
            padding: 30px;
            h1{
                width: 168px;
                height: 64px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 64px;
                line-height: 64px;
                color: #BDBDBD;
            }
            p{
                width: 400px;
                height: 200px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 25px;
                color: #000000;
            }
            button{
                width: 200px;
                height: 40px;
                cursor: pointer;
                background: #FFFFFF;
                h5{
                    font-family: Roboto;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: #000000;
                }
            }
        }
    }
}

.page3{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    .ctn-1{
        @include center;
        flex-direction: column;
        .title-1{
            h1{
                font-family: Roboto;
                font-weight: 300;
                font-size: 55px;
                color: #BDBDBD;
            }
        }
        .context2{
            @include center;
            .one{
                margin-right: 80px;
                @include center;
                h1{
                    font-family: Roboto;
                    font-weight: 900;
                    font-size: 200px;
                    line-height: 234px;
                    color: #BDBDBD;
                }
                p{
                    width: 279px;
                    height: 144px;
                    font-family: Roboto;
                    font-size: 22px;
                    line-height: 36px;
                    color: #333333;
                }
            }
            .two{
                @include center;
                margin-left: 80px;
                h1{
                    font-family: Roboto;
                    font-weight: 900;
                    font-size: 200px;
                    line-height: 234px;
                    color: #BDBDBD;
                }
                p{
                    width: 420px;
                    height: 144px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 36px;
                    color: #333333;
                }
            }
        }
    }
}

.page4{
    width: 100%;
    height: 600px;
    .ctn-2{
        width:100%;
        height: 600px;
        @include center;
        flex-direction: column;
        .title-2{
            h1{
                width: 346px;
                height: 64px;
                font-family: Roboto;
                font-weight: 300;
                font-size: 55px;
                color: #BDBDBD;
            }
        }
        .imgs{
            @include center;
            flex-direction: column;
        }
        .btn-2{
            button{
                cursor: pointer;
                width: 222px;
                height: 40px;
                background: #333333;
                h5{
                    font-family: Roboto;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            } 
        }
    }
}

.page5{
    width: 100%;
    height: 500px;
    margin: 15px 0px;
    @include center;
    .all-2{
        display: flex;
        flex-direction: column;
        .btn-3{
            button{
                cursor: pointer;
                width: 222px;
                height: 40px;
                background: #333333;
                h5{
                    font-family: Roboto;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            } 
        }
        .ctn-3{
            @include center;
            .cnt-us{
                h1{
              
                    width: 312px;
                    height: 64px;
                    font-family: Roboto;
                    font-weight: 300;
                    font-size: 64px;
                    line-height: 64px;
                    color: #BDBDBD;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    input{
                        width: 350px;
                        height: 30px;
                        border: none;
                        border-radius: 5px;
                        margin: 5px;
                        background: #BDBDBD;
                        font-size: 15px;
                       
                    }
                    textarea{
                        width: 350px;
                        border: none;
                        border-radius: 5px;
                        margin: 5px;
                        background: #BDBDBD;
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    height: 430px;
    background-color: #3a3a3a;
    h3{
        font-family: Open Sans;
        font-size: 17px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .footer{
        display: flex;
        .one{
            margin: 80px;
            @include center;
            h1{
                font-size: 30px;
                color: white;
            }
        }
        .two{
            h1{
                font-size: 20px;
                color: white;
            }
            ul{
                li{
                    a{
                        color: white;
                        &:hover{
                            color: rgb(221, 176, 247);
                        }
                    }
                }
            }
            margin: 80px;
        }
        .three{
            h1{
                font-size: 20px;
                color: white;
            }
            ul{
                li{
                    a{
                        color: white;
                    }
                    i{
                        color: white;
                    }
                }
            }
            margin: 80px;
        }
        .four{
            h1{
                font-size: 20px;
                color: white;
            }
            ul{
                @include between;
                li{
                    a{
                        i{
                            @include center;
                            flex-direction: row;
                            color: white;
                            &:hover{
                                color: rgb(221, 176, 247);
                            }
                        }
                    }
                }
            }
            margin: 80px;
        }
    }
}